.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-circle path{
  fill: var(--secondary-color);
}
.loading-circle:hover path {
    fill:  var(--primary-color);
  }
  
  #loading-circle {  
    margin: 20px;
    width: 100px;
    height: 100px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @-ms-keyframes spin {
    from {
      -ms-transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
    }
  }
  
  @-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /*dos*/
  .loadin-zoom {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 10px solid white;
    border-top: 10px solid var(--secondary-color);
    border-bottom: 10px solid var(--secondary-color);
    animation: anim10 2s linear infinite;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadin-zoom .center {
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    position: absolute;
    border-radius: 50%;
    animation: scaleUp 2s linear infinite forwards;
  }
  
  @keyframes anim10 {
    0% {
      opacity: 1;
    }
    50% {
      width: 50px;
      height: 50px;
      transform: rotate(360deg);
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(1.2);
    }
  }
  /*tres*/
  #building {
    display: flex;
    width: 35em;
  }
  #blocks {
    margin: auto;
  }
  .caption {
    padding-left: 0.5em;
    margin: auto;
    font-size: 2.5em;
    color: var(--secondary-color);
  }
  .b {
    background: var(--primary-color);
    border: 0.4em solid var(--tertiary-color);
    width: 4em;
    height: 4em;
    border-radius: 0.25em;
    margin: 1em;
    position: relative;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  #b1 {
    animation-name: b1;
  }
  #b2 {
    animation-name: b2;
    margin-left: 7.25em;
  }
  #b3 {
    animation-name: b3;
    margin-top: -6em;
  }
  #b4 {
    animation-name: b4;
    margin-left: 7.25em;
  }
  @keyframes b1 {
    0% {
      left: 0em;
      transform: rotate(0deg);
    }
    50% {
      left: 6.25em;
      bottom: 0em;
      transform: rotate(90deg);
    }
    100% {
      left: 6.25em;
      bottom: -6.125em;
      transform: rotate(90deg);
    }
  }
  @keyframes b2 {
    50% {
      bottom: 0em;
    }
    100% {
      bottom: -6.125em;
    }
  }
  @keyframes b3 {
    50% {
      top: 0em;
    }
    100% {
      top: -6.125em;
    }
  }
  @keyframes b4 {
    0% {
      left: 0em;
      transform: rotate(0deg);
    }
    50% {
      left: -6.25em;
      top: 0em;
      transform: rotate(90deg);
    }
    100% {
      left: -6.25em;
      top: -6.125em;
      transform: rotate(90deg);
    }
  }
  @media(max-width: 400px) {
    #building {
      width: 100%
    }
    .caption {
      display: none;
    }
  }

/*cuatro*/
.stop-color-one{
  stop-color: var(--primary-color);
}

.stop-color-two{
  stop-color: var(--secondary-color);
}

/*cinco*/

.container--loader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hexagon {
    fill: none;
    stroke-width: 0.13;
    transition: fill 0.5s ease;
  }
  
  .background {
    stroke: var(--primary-color);
  }
  
  .trace {
    stroke: var(--secondary-color);
    stroke-dasharray: 1 2;
    stroke-dashoffset: 5;
    stroke-linecap: round;
    animation: spin-load 1.8s ease-in-out infinite;
  
  }
  
  @keyframes spin-load {
    100% {
      stroke-dashoffset: -1;
    }
  }

  /* seis*/
  .spinner {
    margin: 100px auto;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    -webkit-animation: rotate 2.0s infinite linear;
    animation: rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: var(--primary-color);
    border-radius: 80%;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }