.container-card-one, .container-card-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.container-card-one {
    display: none;
}

.card-one-container {
    width: 400px;
    height: 120px;
    margin: 10px;
}
.card-one-success,
.card-one-error,
.card-one-info,
.card-one-warning,
.card-two-success,
.card-two-info {
    display: flex;
    width: 100%;
    border-radius: .8em;
    padding: 5px;
    -webkit-box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.47); 
    box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.47);
}
.card-one-success {
    height: 120px;
    border: 1px solid var(--success-color);
    background-color: var(--success-color);
}
.card-one-error {
    height: 120px;
    border: 1px solid var(--error-color);
    background-color: var(--error-color);
}
.card-one-info {
    height: 120px;
}
.card-one-warning {
    height: 120px;
    border: 1px solid var(--warning-color);
    background-color: var(--warning-color);
}
.card-one-image {
    display: flex;
}
.card-one-image-container {
    width: 180px;
    height: 120px;
    text-align: center;
}
.card-one-image-container::before {
    content:"";
    display: block;
    width:150px;
    height:100px;
    background-color: var(--tertiary-color);
    margin: auto;
    border-radius: 50%;
    margin-top: 5px;
}   
.img-one {
    margin-top: -170px;
    max-height: 200px;
    max-width: 150px;
}

.card-one-text {
    max-height: 120px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.card-one-text > h3 { 
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}
.card-one-text > p {
    border-top: 2px solid var(--tertiary-color);
}

@media (max-width: 480px) {
    .card-one-container {
        width: 90%;
    }
    .card-one-success, .card-one-error, .card-one-info, .card-one-warning { 
        padding: 0;
    }
    .card-one-image-container {
        width: 130px;
    }
    .card-one-image-container::before {
        width:120px;
        height:100px;
        margin-top: 10px;
    }   
    .img-one {
        margin-top: -110px;
        max-height: 150px;
        max-width: 120px;
    }  
    .card-one-text > h3 { 
        margin: 0;
    }
    .card-one-text > p { 
        margin: 0 10px;
    }  
}

.card-two-container {
    height: 300px;
    width: 500px;
    margin-top: 10px;
}
.card-two-success, .card-two-info {
    height: 300px; 
    padding: 0;
    margin: 0;
}
.img-lateral {
    width: 50%;
    border-right: 1px solid var(--success-color);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: .8em;
    border-bottom-left-radius: .8em;
}
.icon-card, .img-lateral {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.icon-card > svg {
    margin-top: -90px;
    position: absolute;
    margin-left: -40px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 7px solid white;
    padding: 5px;
    background-color: var(--success-color);
}
.card-two-text-container, .card-two-logos-container {
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.card-two-title {
    font-size: 20px;
    text-transform: uppercase;
    height: 70px;
}
.card-two-content {
    height: 120px;
}
.card-two-logos-container {
    align-self: flex-end;
    padding: 0;
    height: 50px;
}

@media (max-width: 480px) {
    .card-two-container, .card-two-text-container {
        height: fit-content;
        width: 95%;
    }
    .card-two-success, .card-two-info {
        flex-direction: column;
        height: 95%; 
    }   
    .img-lateral { 
        height: 150px;
        border-radius: 0;
        width: 100%;
        border-top-left-radius: .8em;
        border-top-right-radius: .8em;
        border: none;
    } 
    .icon-card > svg {
        margin-top: 0;
        margin-left: 0;
        right: 5px;
    }
    .card-two-title {
        height: auto;
    }
    .card-two-logos-container {
        margin-bottom: 10px;
    }
}