.container-avatar {
    max-width: 1366px;
    border: 0.02em solid #E8E8E8;
    display: flex;
    justify-content: center;
    position: relative;
    height: 18em;
    margin-bottom: 130px;
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(46,252,216,1) 0%, rgba(86,220,247,1) 59%);
    background-size: cover;
    background-repeat: no-repeat;
}
.avatar-banner {
    width: 100%;
    height: auto;
    position: static;
}

.avatar {
    position: absolute;
    width: 15em; 
    height: 15em; 
    border: 15px solid white; 
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 30% 30% 30% 30% / 25%;
    overflow: hidden;
    margin: 120px 15px 15px 15px;
}

.avatar-img {
    margin: -15%;
    width: 20em; 
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-repeat: no-repeat;
    background-size: cover;    
}

.avatar-egg {
    position: absolute;
    width: 216px;
    height: 250px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    overflow: hidden;
    border: 15px solid white;
    margin-top: 130px;
}

.avatar-egg-img {
    height: 250px;
}

.avatar-rombo {
    position: absolute;
    width: 280px;
    height: 280px;
    -webkit-clip-path: polygon(45% 1.33975%,46.5798% .60307%,48.26352% .15192%,50% 0,51.73648% .15192%,53.4202% .60307%,55% 1.33975%,89.64102% 21.33975%,91.06889% 22.33956%,92.30146% 23.57212%,93.30127% 25%,94.03794% 26.5798%,94.48909% 28.26352%,94.64102% 30%,94.64102% 70%,94.48909% 71.73648%,94.03794% 73.4202%,93.30127% 75%,92.30146% 76.42788%,91.06889% 77.66044%,89.64102% 78.66025%,55% 98.66025%,53.4202% 99.39693%,51.73648% 99.84808%,50% 100%,48.26352% 99.84808%,46.5798% 99.39693%,45% 98.66025%,10.35898% 78.66025%,8.93111% 77.66044%,7.69854% 76.42788%,6.69873% 75%,5.96206% 73.4202%,5.51091% 71.73648%,5.35898% 70%,5.35898% 30%,5.51091% 28.26352%,5.96206% 26.5798%,6.69873% 25%,7.69854% 23.57212%,8.93111% 22.33956%,10.35898% 21.33975%);
    clip-path: polygon(45% 1.33975%,46.5798% .60307%,48.26352% .15192%,50% 0,51.73648% .15192%,53.4202% .60307%,55% 1.33975%,89.64102% 21.33975%,91.06889% 22.33956%,92.30146% 23.57212%,93.30127% 25%,94.03794% 26.5798%,94.48909% 28.26352%,94.64102% 30%,94.64102% 70%,94.48909% 71.73648%,94.03794% 73.4202%,93.30127% 75%,92.30146% 76.42788%,91.06889% 77.66044%,89.64102% 78.66025%,55% 98.66025%,53.4202% 99.39693%,51.73648% 99.84808%,50% 100%,48.26352% 99.84808%,46.5798% 99.39693%,45% 98.66025%,10.35898% 78.66025%,8.93111% 77.66044%,7.69854% 76.42788%,6.69873% 75%,5.96206% 73.4202%,5.51091% 71.73648%,5.35898% 70%,5.35898% 30%,5.51091% 28.26352%,5.96206% 26.5798%,6.69873% 25%,7.69854% 23.57212%,8.93111% 22.33956%,10.35898% 21.33975%);
    overflow: hidden;
    background-color: white;
    margin-top: 120px;
}

.avatar-rombo-img {
    position: relative;
    top: 20px;
    left: 20px;
    width: 240px;
    -webkit-clip-path: polygon(45% 1.33975%,46.5798% .60307%,48.26352% .15192%,50% 0,51.73648% .15192%,53.4202% .60307%,55% 1.33975%,89.64102% 21.33975%,91.06889% 22.33956%,92.30146% 23.57212%,93.30127% 25%,94.03794% 26.5798%,94.48909% 28.26352%,94.64102% 30%,94.64102% 70%,94.48909% 71.73648%,94.03794% 73.4202%,93.30127% 75%,92.30146% 76.42788%,91.06889% 77.66044%,89.64102% 78.66025%,55% 98.66025%,53.4202% 99.39693%,51.73648% 99.84808%,50% 100%,48.26352% 99.84808%,46.5798% 99.39693%,45% 98.66025%,10.35898% 78.66025%,8.93111% 77.66044%,7.69854% 76.42788%,6.69873% 75%,5.96206% 73.4202%,5.51091% 71.73648%,5.35898% 70%,5.35898% 30%,5.51091% 28.26352%,5.96206% 26.5798%,6.69873% 25%,7.69854% 23.57212%,8.93111% 22.33956%,10.35898% 21.33975%);
    clip-path: polygon(45% 1.33975%,46.5798% .60307%,48.26352% .15192%,50% 0,51.73648% .15192%,53.4202% .60307%,55% 1.33975%,89.64102% 21.33975%,91.06889% 22.33956%,92.30146% 23.57212%,93.30127% 25%,94.03794% 26.5798%,94.48909% 28.26352%,94.64102% 30%,94.64102% 70%,94.48909% 71.73648%,94.03794% 73.4202%,93.30127% 75%,92.30146% 76.42788%,91.06889% 77.66044%,89.64102% 78.66025%,55% 98.66025%,53.4202% 99.39693%,51.73648% 99.84808%,50% 100%,48.26352% 99.84808%,46.5798% 99.39693%,45% 98.66025%,10.35898% 78.66025%,8.93111% 77.66044%,7.69854% 76.42788%,6.69873% 75%,5.96206% 73.4202%,5.51091% 71.73648%,5.35898% 70%,5.35898% 30%,5.51091% 28.26352%,5.96206% 26.5798%,6.69873% 25%,7.69854% 23.57212%,8.93111% 22.33956%,10.35898% 21.33975%);
}

.avatar-cat {
    position: absolute;
    width: 280px;
    height: 280px;
    -webkit-clip-path: polygon(100% 5%, 70% 15%, 30% 15%, 0% 5%, 10% 45%, 6% 72%, 25% 90%, 40% 95%, 60% 95%, 75% 91%, 96% 72%, 90% 45%);
    clip-path: polygon(100% 5%, 70% 15%, 30% 15%, 0% 5%, 10% 45%, 6% 72%, 25% 90%, 40% 95%, 60% 95%, 75% 91%, 96% 72%, 90% 45%);
    overflow: hidden;
    background-color: white;
    margin-top: 150px;
}

.avatar-cat-img {
    position: relative;
    top: 20px;
    left: 20px;
    width: 240px;
    -webkit-clip-path: polygon(100% 5%, 70% 15%, 30% 15%, 0% 5%, 10% 45%, 6% 72%, 25% 90%, 40% 95%, 60% 95%, 75% 91%, 96% 72%, 90% 45%);
    clip-path: polygon(100% 5%, 70% 15%, 30% 15%, 0% 5%, 10% 45%, 6% 72%, 25% 90%, 40% 95%, 60% 95%, 75% 91%, 96% 72%, 90% 45%);
}

 
@media (max-width: 767px) {

    .container-avatar {
        height: 14em;
        margin-bottom: 110px;
    }
    .avatar {
        width: 12em; 
        height: 12em; 
        margin: 80px 15px 15px 15px;
    }
    .avatar-img {
        width: 17em;
        margin-bottom: 0;     
    }
    .avatar-egg {
        width: 166px;
        height: 200px;
        margin-top: 100px;    
    }
    .avatar-egg-img {
        height: 200px;
    }
    .avatar-rombo {
        width: 240px;
        height: 240px;
        margin-top: 80px;
    }
    .avatar-rombo-img {
        width: 210px;
        top: 15px;
        left: 15px;
    }
    .avatar-cat {
        margin-top: 90px;
    }
}
 
@media (max-width: 480px) {

    .container-avatar {
        height: 12em;
        margin-bottom: 80px;
    }
    .avatar {
        width: 10em; 
        height: 10em;
        margin-top: 70px; 
    }
    .avatar-img {
        width: 15em;  
    }
    .avatar-egg {
        width: 146px;
        height: 180px;
        margin-top: 70px;
    }
    .avatar-egg-img {
        height: 180px;
    }
    .avatar-rombo {
        width: 190px;
        height: 190px;
        margin-top: 70px;
    }
    .avatar-rombo-img {
        width: 160px;
        top: 15px;
        left: 15px;
    }
    .avatar-cat {
        width: 200px;
        height: 200px;
    }
    
    .avatar-cat-img {
        top: 20px;
        left: 20px;
        width: 160px;
    }

}